.link-terms2 {
  width: 114.2px;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  min-width: 114.2px;
}
.link-cof2,
.link-terms2,
.yesim2 {
  position: relative;
  line-height: 18px;
  display: none;
}
.link-cof2 {
  width: 107.3px;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  min-width: 107.3px;
}
.yesim2 {
  letter-spacing: 0.05px;
}
.heading-4 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 32px;
  font-weight: 700;
  font-family: inherit;
}
.unfortunately-pc-and {
  margin: 0;
  position: relative;
  font-size: 17px;
  letter-spacing: -0.12px;
  line-height: 22px;
  display: inline-block;
  max-width: 100%;
}
.heading-4-can-i-use-yesim-on-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  max-width: 100%;
}
.if-you-have {
  margin: 0;
  position: relative;
  font-size: 16px;
}
.frame-parent51 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
  max-width: 100%;
}
.heading-41 {
  position: relative;
  letter-spacing: -0.2px;
  line-height: 24px;
  font-weight: 600;
}
.image-icon22 {
  width: 32px;
  height: 32px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.image-wrapper6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 4px 0 0;
}
.international-esim {
  position: relative;
  letter-spacing: -0.12px;
  line-height: 22px;
}
.unlimited-data-pay {
  position: relative;
  font-size: 12px;
  letter-spacing: 0.2px;
  line-height: 16px;
  color: rgba(12, 12, 13, 0.46);
}
.international-esim-parent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 20px 0 0;
  box-sizing: border-box;
  gap: 2px;
  min-width: 370px;
  max-width: 100%;
}
.svg-icon40 {
  width: 7px;
  height: 12px;
  position: relative;
}
.link-button3,
.svg-wrapper11 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 14px 0 0;
}
.link-button3 {
  align-self: stretch;
  border-radius: 16px;
  background-color: #f6f5f4;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px 16px;
  box-sizing: border-box;
  gap: 16px;
  max-width: 100%;
  cursor: pointer;
}
.svg-icon41 {
  width: 32px;
  height: 32px;
  position: relative;
}
.svg-wrapper12 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 4px 0 0;
}
.countries1,
.europe {
  position: relative;
  letter-spacing: -0.12px;
  line-height: 22px;
  display: inline-block;
  min-width: 56.6px;
}
.countries1 {
  font-size: 12px;
  letter-spacing: 0.2px;
  line-height: 16px;
  color: rgba(12, 12, 13, 0.46);
  min-width: 72px;
}
.europe-parent,
.frame-parent52 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2px;
}
.frame-parent52 {
  flex-direction: row;
  gap: 16px;
}
.svg-icon42 {
  width: 7px;
  height: 12px;
  position: relative;
}
.link-button4,
.svg-wrapper13 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 14px 0 0;
}
.link-button4 {
  flex: 1;
  border-radius: 16px;
  background-color: #f6f5f4;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 16px;
  box-sizing: border-box;
  min-width: 214px;
  max-width: 100%;
  gap: 20px;
  cursor: pointer;
}
.container-icon4 {
  width: 32px;
  height: 32px;
  position: relative;
  border-radius: 30px;
  overflow: hidden;
  flex-shrink: 0;
}
.container-wrapper2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 4px 0 0;
}
.from-159gb,
.germany {
  position: relative;
  letter-spacing: -0.12px;
  line-height: 22px;
  display: inline-block;
  min-width: 72.5px;
}
.from-159gb {
  font-size: 12px;
  letter-spacing: 0.2px;
  line-height: 16px;
  color: rgba(12, 12, 13, 0.46);
  min-width: 84.5px;
}
.frame-parent53,
.germany-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2px;
}
.frame-parent53 {
  flex-direction: row;
  gap: 16px;
}
.svg-icon43 {
  width: 7px;
  height: 12px;
  position: relative;
}
.svg-wrapper14 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 14px 0 0;
}
.link-button-parent5,
.link-button5 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.link-button5 {
  flex: 1;
  border-radius: 16px;
  background-color: #f6f5f4;
  justify-content: space-between;
  padding: 10px 16px;
  box-sizing: border-box;
  min-width: 214px;
  gap: 20px;
}
.link-button-parent5 {
  align-self: stretch;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 12px;
}
.container-icon5 {
  width: 32px;
  height: 32px;
  position: relative;
  border-radius: 30px;
  overflow: hidden;
  flex-shrink: 0;
}
.container-wrapper3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 4px 0 0;
}
.from-159gb1,
.spain {
  position: relative;
  letter-spacing: -0.12px;
  line-height: 22px;
  display: inline-block;
  min-width: 45px;
}
.from-159gb1 {
  font-size: 12px;
  letter-spacing: 0.2px;
  line-height: 16px;
  color: rgba(12, 12, 13, 0.46);
  min-width: 84.5px;
}
.frame-parent54,
.spain-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2px;
}
.frame-parent54 {
  flex-direction: row;
  gap: 16px;
}
.svg-icon44 {
  width: 7px;
  height: 12px;
  position: relative;
}
.link-button6,
.svg-wrapper15 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 14px 0 0;
}
.link-button6 {
  flex: 1;
  border-radius: 16px;
  background-color: #f6f5f4;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 16px;
  box-sizing: border-box;
  min-width: 214px;
  max-width: 100%;
  gap: 20px;
}
.container-icon6 {
  width: 32px;
  height: 32px;
  position: relative;
  border-radius: 30px;
  overflow: hidden;
  flex-shrink: 0;
}
.container-wrapper4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 4px 0 0;
}
.from-143gb,
.turkey {
  position: relative;
  letter-spacing: -0.12px;
  line-height: 22px;
  display: inline-block;
  min-width: 54.2px;
}
.from-143gb {
  font-size: 12px;
  letter-spacing: 0.2px;
  line-height: 16px;
  color: rgba(12, 12, 13, 0.46);
  min-width: 85.1px;
}
.frame-parent55,
.turkey-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2px;
}
.frame-parent55 {
  flex-direction: row;
  gap: 16px;
}
.svg-icon45 {
  width: 7px;
  height: 12px;
  position: relative;
}
.svg-wrapper16 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 14px 0 0;
}
.link-button-parent6,
.link-button-parent7,
.link-button7 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.link-button7 {
  flex: 1;
  border-radius: 16px;
  background-color: #f6f5f4;
  justify-content: space-between;
  padding: 10px 16px;
  box-sizing: border-box;
  min-width: 214px;
  gap: 20px;
}
.link-button-parent6,
.link-button-parent7 {
  align-self: stretch;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 12px;
}
.backgroundshadow,
.link-button-parent4 {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
}
.link-button-parent4 {
  display: flex;
  justify-content: flex-start;
  gap: 12px;
  max-width: 100%;
  font-size: 17px;
}
.backgroundshadow {
  box-shadow: 0 2px 24px 2px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
  background-color: #fff;
  overflow: hidden;
  padding: 24px;
  box-sizing: border-box;
  gap: 24px;
  font-size: 20px;
}
.backgroundshadow,
.frame-parent50,
.main,
.main-wrapper {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent50 {
  width: 720px;
  flex-direction: column;
  align-items: flex-start;
  gap: 56px;
}
.main,
.main-wrapper {
  box-sizing: border-box;
}
.main {
  flex: 1;
  background-color: #fff;
  flex-direction: column;
  align-items: center;
  padding: 20px 20px 80px;
  gap: 64px;
  text-align: left;
  font-size: 28px;
  color: #0c0c0d;
  font-family: Inter;
}
.main-wrapper {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 0 32px;
}
.container-icon7 {
  height: 258px;
  width: 253px;
  position: relative;
  min-height: 258px;
}
.heading-42,
.link-regions {
  position: relative;
  display: inline-block;
}
.heading-42 {
  font-size: 16px;
  font-weight: 700;
  min-width: 96px;
}
.link-regions {
  line-height: 18px;
  font-weight: 500;
  min-width: 54.1px;
}
.link-payment {
  display: inline-block;
  min-width: 59px;
}
.link-compatible,
.link-for,
.link-our,
.link-our1,
.link-payment,
.link-virtual {
  position: relative;
  line-height: 18px;
  font-weight: 500;
}
.link-for,
.link-our,
.link-our1,
.link-virtual {
  display: inline-block;
  min-width: 107px;
}
.link-for,
.link-our,
.link-our1 {
  min-width: 85.6px;
}
.link-our,
.link-our1 {
  min-width: 80.7px;
}
.link-our1 {
  min-width: 86px;
}
.heading-4-product-info-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 13px 0 0;
  gap: 16px;
}
.heading-43 {
  position: relative;
  font-size: 16px;
  font-weight: 700;
}
.link-spain,
.link-turkey {
  position: relative;
  line-height: 18px;
  font-weight: 500;
  display: inline-block;
  min-width: 46px;
}
.link-spain {
  min-width: 38px;
}
.uae,
.united-arab-emirates {
  display: block;
}
.united-arab-emirates-container {
  margin: 0;
}
.link-italy,
.link-united,
.united-arab-emirates-container {
  position: relative;
  line-height: 18px;
  font-weight: 500;
}
.link-italy {
  display: inline-block;
  min-width: 29px;
}
.heading-4-popular-destinatio-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
  min-width: 162px;
}
.heading-44 {
  position: relative;
  font-size: 16px;
  font-weight: 700;
  display: inline-block;
  min-width: 36.2px;
}
.link-faq,
.link-yesim,
.support {
  position: relative;
  line-height: 18px;
  font-weight: 500;
  display: inline-block;
}
.link-faq {
  text-decoration: none;
  color: inherit;
  min-width: 28px;
}
.link-yesim,
.support {
  min-width: 55px;
}
.link-yesim {
  min-width: 117.1px;
}
.frame-parent57,
.heading-4-help-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.heading-4-help-parent {
  flex-direction: column;
  gap: 16px;
  min-width: 117.10000000000036px;
}
.frame-parent57 {
  flex-direction: row;
  padding: 0 29px 0 0;
  box-sizing: border-box;
  gap: 32.7px;
  max-width: 100%;
}
.heading-45 {
  position: relative;
  font-size: 16px;
  font-weight: 700;
  display: inline-block;
  min-width: 74.6px;
}
.link-about,
.link-blog,
.link-contacts,
.link-refund {
  position: relative;
  line-height: 18px;
  font-weight: 500;
  display: inline-block;
  min-width: 61px;
}
.link-blog,
.link-refund {
  min-width: 92.3px;
}
.link-blog {
  min-width: 30.2px;
}
.container-parent1,
.heading-4-more-info-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
}
.container-parent1 {
  flex-direction: row;
  flex-wrap: wrap;
  gap: 48px;
  max-width: 100%;
}
.image-icon23,
.image-icon24,
.image-icon25,
.image-icon26,
.image-icon27,
.image-icon28 {
  align-self: stretch;
  width: 36px;
  position: relative;
  max-height: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  min-height: 20px;
}
.image-icon24,
.image-icon25,
.image-icon26,
.image-icon27,
.image-icon28 {
  width: 25.8px;
}
.image-icon25,
.image-icon26,
.image-icon27,
.image-icon28 {
  width: 76.5px;
}
.image-icon26,
.image-icon27,
.image-icon28 {
  width: 49.5px;
}
.image-icon27,
.image-icon28 {
  width: 43px;
}
.image-icon28 {
  width: 108.5px;
}
.frame-wrapper4,
.image-parent1 {
  display: flex;
  align-items: flex-start;
}
.image-parent1 {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}
.frame-wrapper4 {
  width: 459.3px;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 6.7px;
  box-sizing: border-box;
  max-width: 100%;
}
.review-us-on {
  position: relative;
  line-height: 14px;
  font-weight: 500;
  display: inline-block;
  min-width: 89px;
  white-space: nowrap;
}
.review-us-on-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 1px;
}
.img-icon {
  height: 19.7px;
  width: 80px;
  position: relative;
}
.link {
  border-radius: 2px;
  background-color: #fff;
  border: 1px solid #00b67a;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 7px 5px 7px 7px;
}
.image-icon29 {
  align-self: stretch;
  height: 24px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.image-wrapper7 {
  width: 116px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 4.7px;
  box-sizing: border-box;
}
.frame-parent59,
.link-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 57.9px;
  max-width: 100%;
}
.frame-parent59 {
  align-self: stretch;
  justify-content: space-between;
  gap: 20px;
}
.link-genesis,
.link-privacy {
  position: absolute;
  margin: 0 !important;
  line-height: 18px;
}
.link-privacy {
  text-decoration: none;
  width: 94px;
  top: 10px;
  left: -14px;
  font-weight: 500;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 94px;
}
.link-genesis {
  top: 9.5px;
  right: -14.8px;
  letter-spacing: 0.05px;
  text-align: right;
}
.we-use-cookies-on-our-website {
  display: block;
}
.privacy-policy {
  color: #ff7a00;
}
.span {
  color: #0c0c0d;
}
.by-clicking-accept-you-cons {
  display: block;
}
.we-use-cookies-container {
  margin: 0;
  height: 44px;
  position: relative;
  letter-spacing: 0.05px;
  line-height: 22px;
  display: flex;
  align-items: center;
  max-width: 100%;
}
.accept {
  position: relative;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  font-family: Inter;
  color: #fff;
  text-align: center;
  display: inline-block;
  min-width: 48px;
}
.button1 {
  cursor: pointer;
  border: 0;
  padding: 11px 15px 11px 16px;
  background-color: #ff7a00;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.button1:hover {
  background-color: #e66100;
}
.no-thanks {
  flex: 1;
  position: relative;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  font-family: Inter;
  color: rgba(12, 12, 13, 0.74);
  text-align: center;
  display: inline-block;
  min-width: 72.1px;
}
.button-parent,
.button2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.button2 {
  cursor: pointer;
  border: 0;
  padding: 11px 15px 11px 16px;
  background-color: rgba(144, 127, 111, 0.1);
  flex: 1;
  border-radius: 20px;
  white-space: nowrap;
}
.button2:hover {
  background-color: rgba(120, 102, 87, 0.1);
}
.button-parent {
  align-self: stretch;
  gap: 8.1px;
}
.backgroundshadow-inner {
  width: 191.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 1.5px;
  box-sizing: border-box;
}
.backgroundshadow1 {
  flex: 1;
  box-shadow: 0 2px 24px 2px rgba(0, 0, 0, 0.08);
  border-radius: 16px;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: 23.5px 24px 24.5px;
  box-sizing: border-box;
  max-width: 100%;
  gap: 20px;
  z-index: 1;
  text-align: left;
  color: #0c0c0d;
}
.link-privacy-policy-parent {
  flex: 1;
  flex-direction: row;
  position: relative;
}
.frame-parent56,
.frame-parent58,
.frame-wrapper5,
.link-privacy-policy-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-wrapper5 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 14px;
  box-sizing: border-box;
  color: rgba(12, 12, 13, 0.46);
}
.frame-parent56,
.frame-parent58 {
  flex-direction: column;
}
.frame-parent58 {
  align-self: stretch;
  gap: 26.3px;
  text-align: center;
  color: #191919;
}
.frame-parent56 {
  width: 1056px;
  gap: 64px;
}
.compabilitydevices,
.compabilitydevices-inner {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  font-size: 14px;
  font-family: Inter;
}
.compabilitydevices-inner {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 20px;
  max-width: 100%;
  text-align: left;
  color: #0c0c0d;
}
.compabilitydevices {
  width: 100%;
  position: relative;
  background-color: #f6f5f4;
  overflow-y: auto;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 16px;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: rgba(12, 12, 13, 0.46);
}
@media screen and (max-width: 1200px) {
  .main {
    padding-top: 20px;
    padding-bottom: 22px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .backgroundshadow1,
  .frame-parent59 {
    flex-wrap: wrap;
  }
  .frame-parent56 {
    gap: 32px;
  }
}
@media screen and (max-width: 750px) {
  .international-esim-parent {
    min-width: 100%;
  }
  .frame-parent50 {
    gap: 28px;
  }
  .main {
    gap: 32px;
    padding-bottom: 20px;
    box-sizing: border-box;
  }
  .container-parent1 {
    gap: 24px;
  }
  .image-parent1 {
    flex-wrap: wrap;
    justify-content: center;
  }
  .frame-parent56 {
    gap: 16px;
  }
}
@media screen and (max-width: 450px) {
  .heading-4 {
    font-size: 22px;
    line-height: 26px;
  }
  .heading-41 {
    font-size: 16px;
    line-height: 19px;
  }
  .backgroundshadow {
    padding-top: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
  }
  .main {
    gap: 16px;
  }
  .heading-4-help-parent,
  .heading-4-popular-destinatio-parent {
    flex: 1;
  }
  .frame-parent57,
  .link-parent {
    flex-wrap: wrap;
    gap: 16px;
  }
  .link-parent {
    gap: 29px;
  }
}
