.image-icon71 {
  height: 28px;
  width: 140px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.container-icon20,
.sandra-j1 {
  position: relative;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.sandra-j1 {
  letter-spacing: 0.05px;
  line-height: 18px;
  display: inline-block;
  min-width: 63.2px;
}
.container-icon20 {
  height: 20px;
  width: 20px;
  border-radius: 10px;
  overflow: hidden;
}
.sandra-j-group {
  flex: 1;
  flex-direction: row;
  gap: 6.6px;
}
.frame-wrapper19,
.image-parent12,
.sandra-j-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper19 {
  height: 24px;
  flex-direction: column;
  padding: 3.5px 0 0;
  box-sizing: border-box;
}
.image-parent12 {
  flex-direction: row;
  gap: 35.2px;
}
.very-satisfied1 {
  position: relative;
  letter-spacing: -0.12px;
  line-height: 22px;
  font-weight: 600;
  display: inline-block;
  min-width: 117.5px;
}
.everywhere-coverage-was1,
.price-really-good1,
.stay-connected-while1,
.uzbekistan-azerbaijan-and1,
.very-satisfied-used1 {
  display: block;
}
.very-satisfied-used-container1 {
  margin: 0;
  position: relative;
  font-size: 12px;
  letter-spacing: 0.2px;
  line-height: 16px;
  color: rgba(12, 12, 13, 0.74);
}
.very-satisfied-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3.5px;
  font-size: 17px;
  color: #0c0c0d;
}
.svg-icon80 {
  height: 16px;
  width: 16px;
  position: relative;
}
.verified-purchaser9 {
  position: relative;
  letter-spacing: 0.2px;
  line-height: 18px;
}
.background22,
.svg-parent8 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 4px;
  font-size: 12px;
  color: rgba(12, 12, 13, 0.46);
}
.background22 {
  border-radius: 20px;
  background-color: #f6f5f4;
  flex-direction: column;
  align-items: flex-start;
  padding: 12px 12px 14.5px;
  gap: 24px;
  flex-shrink: 0;
  debug_commit: bf4bc93;
  text-align: left;
  font-size: 14px;
  color: rgba(12, 12, 13, 0.74);
  font-family: Inter;
}
@media screen and (max-width: 450px) {
  .image-parent12 {
    flex-wrap: wrap;
    gap: 18px;
  }
}
