.global-esim-solutions,
.transform-your-business {
  margin: 0;
}
.transform-your-business-container {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.4px;
  line-height: 36px;
  font-weight: 700;
  font-family: inherit;
}
.empower-your-team,
.to-manage-esim-solutions {
  display: block;
}
.empower-your-team-container {
  margin: 0;
  flex: 1;
  position: relative;
  letter-spacing: -0.12px;
  line-height: 22px;
}
.empower-your-team-with-seamles-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 5px;
  font-size: 17px;
}
.button25 {
  height: 54px;
  width: 196.7px;
}
.button-wrapper8 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 20px 0 21px;
}
.transform-your-business-travel-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 32.3px;
  text-align: center;
  font-size: 34px;
}
.heading-216 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 32px;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.heading-418 {
  position: relative;
  letter-spacing: -0.12px;
  line-height: 22px;
  font-weight: 600;
}
.connectivity-for-new,
.deploy-esim-profiles,
.instantly-regardless-of,
.location-ensure-immediate,
.sudden-travel-needs {
  display: block;
}
.deploy-esim-profiles-container {
  margin: 0;
  position: relative;
  font-size: 12px;
  letter-spacing: 0.2px;
  line-height: 16px;
  color: rgba(12, 12, 13, 0.74);
}
.heading-4-instant-esim-distr-parent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 7.5px;
}
.item-child {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 5px 0 0;
}
.image-icon96 {
  width: 100px;
  height: 80px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.item-parent2,
.item23 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.item23 {
  align-self: stretch;
  border-radius: 24px;
  background-color: #f6f5f4;
  align-items: flex-end;
  padding: 18px 16px;
  gap: 24.5px;
}
.item-parent2 {
  width: 236px;
  flex-shrink: 0;
  align-items: flex-start;
  gap: 6px;
}
.heading-419 {
  position: relative;
  letter-spacing: -0.12px;
  line-height: 22px;
  font-weight: 600;
}
.apps,
.privacy-of-your,
.registrations-in-local,
.shield-the-anonymity,
.these-secure-alternatives {
  display: block;
}
.shield-the-anonymity-container {
  margin: 0;
  position: relative;
  font-size: 12px;
  letter-spacing: 0.2px;
  line-height: 16px;
  color: rgba(12, 12, 13, 0.74);
}
.heading-4-virtual-phone-numb-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 7.5px;
}
.image-icon97 {
  width: 100px;
  height: 80px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.item-parent3,
.item24 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.item24 {
  border-radius: 24px;
  background-color: #f6f5f4;
  align-items: flex-end;
  padding: 18px 16px;
  gap: 24.5px;
}
.item-parent3 {
  width: 236px;
  flex-shrink: 0;
  align-items: flex-start;
  gap: 6px;
}
.explore-varied-payment,
.options {
  margin: 0;
}
.explore-varied-payment-container {
  position: relative;
  letter-spacing: -0.12px;
  line-height: 22px;
  font-weight: 600;
}
.an-efficient-workflow,
.balances-added-to,
.bank-transfers-to,
.companys-account-ensuring,
.team-never-runs,
.we-manage-fund {
  display: block;
}
.bank-transfers-to-container {
  margin: 0;
  position: relative;
  font-size: 12px;
  letter-spacing: 0.2px;
  line-height: 16px;
  color: rgba(12, 12, 13, 0.74);
}
.image-icon98 {
  height: 80px;
  width: 100px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.image-wrapper13,
.item25 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
}
.item25 {
  border-radius: 24px;
  background-color: #f6f5f4;
  flex-direction: column;
  justify-content: flex-start;
  padding: 18px 16px;
  gap: 8px;
}
.heading-420 {
  position: relative;
  letter-spacing: -0.12px;
  line-height: 22px;
  font-weight: 600;
}
.b2b-yesim-solution,
.breaches-in-business,
.cards-safeguarding-sensitive,
.communications,
.information-and-preventing,
.security-beyond-traditional {
  display: block;
}
.b2b-yesim-solution-container {
  margin: 0;
  position: relative;
  font-size: 12px;
  letter-spacing: 0.2px;
  line-height: 16px;
  color: rgba(12, 12, 13, 0.74);
}
.image-icon99 {
  height: 80px;
  width: 100px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.image-wrapper14 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
}
.item-parent4,
.item26 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.item26 {
  align-self: stretch;
  border-radius: 24px;
  background-color: #f6f5f4;
  padding: 18px 16px;
  gap: 8px;
}
.item-parent4 {
  width: 236px;
  flex-shrink: 0;
  gap: 6px;
}
.frame-parent126,
.heading-2-unmatched-connecti-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent126 {
  width: 720px;
  overflow-x: auto;
  flex-direction: row;
  gap: 6px;
  font-size: 17px;
}
.heading-2-unmatched-connecti-parent {
  align-self: stretch;
  flex-direction: column;
  gap: 24px;
}
.heading-217 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 32px;
  font-weight: 700;
  font-family: inherit;
}
.heading-2-getting-started-parent,
.list {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.list {
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6px;
  font-size: 17px;
  color: rgba(12, 12, 13, 0.46);
}
.heading-2-getting-started-parent {
  flex-direction: column;
  gap: 24px;
}
.heading-218 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 32px;
  font-weight: 700;
  font-family: inherit;
}
.heading-2-ready-to-elevate-y-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 8.5px;
  box-sizing: border-box;
  max-width: 100%;
}
.get-in-touch {
  position: relative;
  letter-spacing: -0.12px;
  line-height: 22px;
  display: inline-block;
  max-width: 100%;
}
.overlay8,
.overlay9 {
  border: 0;
  background-color: transparent;
  height: 46px;
  flex: 1;
  font-family: Inter;
  font-size: 16px;
  color: rgba(12, 12, 13, 0.46);
  min-width: 229px;
  max-width: 100%;
}
.overlay-parent1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;
  max-width: 100%;
}
.overlay10,
.overlay11 {
  border: 0;
  background-color: transparent;
  height: 46px;
  flex: 1;
  font-family: Inter;
  font-size: 16px;
  color: rgba(12, 12, 13, 0.46);
  min-width: 229px;
  max-width: 100%;
}
.overlay-parent2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;
  max-width: 100%;
}
.textarea {
  align-self: stretch;
  height: 126px;
  position: relative;
  border-radius: 16px;
  background-color: rgba(144, 127, 111, 0.1);
  overflow: hidden;
  flex-shrink: 0;
}
.frame-parent128,
.get-in-touch-with-yesim-busine-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;
  max-width: 100%;
}
.get-in-touch-with-yesim-busine-parent {
  gap: 16px;
  font-size: 17px;
}
.button26 {
  height: 54px;
  width: 105.1px;
}
.privacy-policy3,
.terms-of-service {
  text-decoration: underline;
}
.by-submitting-this-container {
  position: relative;
  letter-spacing: 0.05px;
  line-height: 18px;
  display: inline-block;
  max-width: 100%;
}
.button-parent6,
.frame-parent125,
.frame-parent127 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.button-parent6 {
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  font-size: 14px;
  color: rgba(12, 12, 13, 0.46);
}
.frame-parent125,
.frame-parent127 {
  flex-direction: column;
  justify-content: flex-start;
  gap: 15.5px;
}
.frame-parent125 {
  gap: 42px;
  text-align: left;
  font-size: 28px;
  color: #0c0c0d;
  font-family: Inter;
}
@media screen and (max-width: 1250px) {
  .button-parent6 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 750px) {
  .transform-your-business-container {
    font-size: 27px;
    line-height: 29px;
  }
  .transform-your-business-travel-parent {
    gap: 16px;
  }
  .frame-parent125 {
    gap: 21px;
  }
}
@media screen and (max-width: 450px) {
  .transform-your-business-container {
    font-size: 20px;
    line-height: 22px;
  }
  .heading-216,
  .heading-217,
  .heading-218 {
    font-size: 22px;
    line-height: 26px;
  }
}
