.item8 {
  height: 120px;
  width: 220px;
  border-radius: 16px;
  background-color: #f6f5f4;
  border: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 24.5px 12px 24.4px;
  box-sizing: border-box;
}
.image-icon30 {
  height: 70.4px;
  width: 196px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.item9 {
  border-radius: 16px;
  background-color: #f6f5f4;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 24.8px 12px;
}
.image-icon31 {
  height: 74.7px;
  width: 196px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.item10 {
  border-radius: 16px;
  background-color: #f6f5f4;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 22.6px 12px 22.7px;
}
.image-icon32 {
  height: 70.8px;
  width: 196px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.item11 {
  border-radius: 16px;
  background-color: #f6f5f4;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 24.6px 12px;
}
.image-icon33 {
  height: 70.4px;
  width: 196px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.item12 {
  border-radius: 16px;
  background-color: #f6f5f4;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 24.8px 12px;
}
.image-icon34 {
  height: 63.3px;
  width: 196px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.item-group,
.item13 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.item13 {
  border-radius: 16px;
  background-color: #f6f5f4;
  padding: 28.4px 12px 28.3px;
}
.item-group {
  align-self: stretch;
  flex-wrap: wrap;
  gap: 6px 4px;
  min-height: 246px;
}
