.overlayshadow-icon1 {
  align-self: stretch;
  flex: 1;
  overflow: hidden;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 30px;
  width: 100%;
  height: 100%;
  transform: scale(1.641);
}
.wrapper-overlayshadow1 {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: 14px;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.best-destinations-to,
.span2 {
  display: block;
}
.best-destinations-to-container {
  margin: 0;
  position: relative;
  letter-spacing: -0.12px;
  line-height: 22px;
}
.link-image1 {
  width: 18px;
  height: 18px;
  position: relative;
  border-radius: 18px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.link-image-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 2px;
}
.apr-2024,
.div1,
.vika-laki1 {
  position: relative;
  letter-spacing: 0.05px;
  line-height: 18px;
  display: inline-block;
}
.vika-laki1 {
  color: rgba(12, 12, 13, 0.74);
  min-width: 60.2px;
}
.apr-2024,
.div1 {
  min-width: 8.3px;
}
.apr-2024 {
  min-width: 82px;
}
.frame-parent39 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 5.8px;
}
.minutes-to-read1 {
  position: relative;
  letter-spacing: 0.05px;
  line-height: 18px;
  display: inline-block;
  min-width: 124px;
}
.frame-parent38,
.wrapper-overlayshadow-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent38 {
  gap: 2px;
  font-size: 14px;
  color: rgba(12, 12, 13, 0.46);
}
.wrapper-overlayshadow-parent {
  height: 301.2px;
  gap: 15px;
  text-align: left;
  font-size: 17px;
  color: #0c0c0d;
  font-family: Inter;
}
