.overlay-icon2 {
  height: 40px;
  width: 40px;
  position: relative;
  border-radius: 8px;
  min-height: 40px;
}
.south-caribbean-cruise {
  position: relative;
  letter-spacing: -0.12px;
  line-height: 22px;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.container11 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.countries4 {
  position: relative;
  font-size: 12px;
  letter-spacing: 0.2px;
  line-height: 16px;
  color: rgba(12, 12, 13, 0.46);
  display: inline-block;
  min-width: 66.4px;
}
.container-parent10 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 32px 0 0;
  box-sizing: border-box;
  gap: 2px;
  min-width: 142px;
}
.svg-icon96 {
  width: 7px;
  height: 12px;
  position: relative;
}
.link-button27,
.svg-wrapper36 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 14px 0 0;
}
.link-button27 {
  flex: 1;
  border-radius: 16px;
  background-color: #f6f5f4;
  flex-direction: row;
  padding: 10px 16px;
  box-sizing: border-box;
  gap: 16px;
  min-width: 214px;
  max-width: 100%;
  cursor: pointer;
}
.overlay-icon3 {
  height: 40px;
  width: 40px;
  position: relative;
  border-radius: 8px;
  min-height: 40px;
}
.eastern-caribbean-cruise {
  position: relative;
  letter-spacing: -0.12px;
  line-height: 22px;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.container12 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.countries5 {
  position: relative;
  font-size: 12px;
  letter-spacing: 0.2px;
  line-height: 16px;
  color: rgba(12, 12, 13, 0.46);
  display: inline-block;
  min-width: 66.4px;
}
.container-parent11,
.overlay-parent3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2px;
}
.overlay-parent3 {
  flex: 1;
  flex-direction: row;
  gap: 16px;
  min-width: 166px;
}
.svg-icon97 {
  width: 7px;
  height: 12px;
  position: relative;
}
.link-button-parent12,
.link-button28,
.svg-wrapper37 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.svg-wrapper37 {
  flex-direction: column;
  padding: 14px 0 0;
}
.link-button-parent12,
.link-button28 {
  flex-direction: row;
  max-width: 100%;
}
.link-button28 {
  flex: 1;
  border-radius: 16px;
  background-color: #f6f5f4;
  padding: 10px 16px;
  box-sizing: border-box;
  gap: 35.2px;
  min-width: 214px;
}
.link-button-parent12 {
  align-self: stretch;
  flex-wrap: wrap;
  gap: 12px;
  text-align: left;
  font-size: 17px;
  color: #0c0c0d;
  font-family: Inter;
}
@media screen and (max-width: 450px) {
  .link-button27,
  .overlay-parent3 {
    flex-wrap: wrap;
  }
  .link-button28 {
    flex-wrap: wrap;
    gap: 18px;
  }
}
