.overlay-icon6 {
  height: 40px;
  width: 40px;
  position: relative;
  border-radius: 8px;
  min-height: 40px;
}
.north-america {
  position: relative;
  letter-spacing: -0.12px;
  line-height: 22px;
  display: inline-block;
  min-width: 116px;
  flex-shrink: 0;
  debug_commit: bf4bc93;
  white-space: nowrap;
}
.container14 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.countries8 {
  position: relative;
  font-size: 12px;
  letter-spacing: 0.2px;
  line-height: 16px;
  color: rgba(12, 12, 13, 0.46);
  display: inline-block;
  min-width: 67px;
}
.container-parent13,
.overlay-parent6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2px;
}
.overlay-parent6 {
  flex-direction: row;
  gap: 16px;
}
.svg-icon100 {
  width: 7px;
  height: 12px;
  position: relative;
}
.link-button31,
.svg-wrapper40 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 14px 0 0;
}
.link-button31 {
  flex: 1;
  border-radius: 16px;
  background-color: #f6f5f4;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 16px;
  box-sizing: border-box;
  min-width: 214px;
  max-width: 100%;
  gap: 20px;
  text-align: left;
  font-size: 17px;
  color: #0c0c0d;
  font-family: Inter;
}
