.link-image1 {
  align-self: stretch;
  height: 30px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.link-image-container {
  width: 103px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 5px 0 0;
  box-sizing: border-box;
}
.virtual-numbers {
  text-decoration: none;
  position: relative;
  letter-spacing: 0.2px;
  line-height: 16px;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 95px;
}
.link-button-frame,
.link-button18 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.link-button18 {
  border-radius: 20px;
  background-color: rgba(144, 127, 111, 0.12);
  flex-direction: row;
  padding: 8px 15px 8px 16px;
  white-space: nowrap;
}
.link-button-frame {
  flex-direction: column;
  padding: 4px 14px 0 0;
}
.more1 {
  text-decoration: none;
  position: relative;
  letter-spacing: 0.2px;
  line-height: 16px;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 31px;
}
.svg-icon87 {
  width: 12px;
  height: 12px;
  position: relative;
}
.svg-wrapper27 {
  flex-direction: column;
  padding: 2px 0 0;
}
.button-wrapper2,
.button11,
.svg-wrapper27 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.button11 {
  width: 187px;
  border-radius: 20px;
  flex-direction: row;
  padding: 8px 16px;
  box-sizing: border-box;
  gap: 3.5px;
}
.button-wrapper2 {
  flex: 1;
  flex-direction: column;
  padding: 4px 0 0;
}
.button12,
.eng1 {
  flex: 1;
  font-weight: 500;
}
.button12 {
  height: 24px;
  font-family: Inter;
  font-size: 12px;
  color: rgba(12, 12, 13, 0.74);
  width: auto;
}
.eng1 {
  text-decoration: none;
  position: relative;
  letter-spacing: 0.2px;
  line-height: 16px;
  color: inherit;
  display: inline-block;
  min-width: 26.2px;
}
.svg-icon88 {
  width: 12px;
  height: 12px;
  position: relative;
}
.svg-wrapper28 {
  flex-direction: column;
  padding: 2px 0 0;
}
.button-wrapper3,
.button13,
.svg-wrapper28 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.button13 {
  align-self: stretch;
  border-radius: 16px;
  flex-direction: row;
  padding: 4px 12px;
  gap: 5.6px;
}
.button-wrapper3 {
  width: 73.8px;
  flex-direction: column;
  padding: 0 5px 0 0;
  box-sizing: border-box;
}
.button-svg19 {
  width: 20px;
  height: 20px;
  position: relative;
}
.button-svg-frame {
  flex-direction: column;
  padding: 2px 0 0;
}
.button-parent3,
.button-svg-frame,
.frame-wrapper24 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.button-parent3 {
  align-self: stretch;
  flex-direction: row;
}
.frame-wrapper24 {
  width: 176.9px;
  flex-direction: column;
  padding: 8px 0 0;
  box-sizing: border-box;
}
.sign-in1 {
  text-decoration: none;
  position: relative;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  font-family: Inter;
  color: #fff;
  text-align: center;
  display: inline-block;
  min-width: 46px;
  white-space: nowrap;
}
.button14,
.frame-parent116,
.nav1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.button14 {
  cursor: pointer;
  border: 0;
  padding: 11px 15px 11px 16px;
  background-color: #ff7a00;
  border-radius: 20px;
  justify-content: flex-start;
  white-space: nowrap;
}
.button14:hover {
  background-color: #e66100;
}
.frame-parent116,
.nav1 {
  max-width: 100%;
}
.frame-parent116 {
  width: 543.3px;
  justify-content: flex-start;
  gap: 30px;
  color: rgba(12, 12, 13, 0.74);
}
.nav1 {
  align-self: stretch;
  background-color: #fff;
  justify-content: center;
  padding: 10px 20px;
  box-sizing: border-box;
  gap: 134.3px;
  top: 0;
  z-index: 99;
  position: sticky;
  text-align: center;
  font-size: 12px;
  color: #0c0c0d;
  font-family: Inter;
}
@media screen and (max-width: 1100px) {
  .nav1 {
    gap: 67px;
  }
}
@media screen and (max-width: 750px) {
  .nav1 {
    gap: 34px;
  }
}
@media screen and (max-width: 450px) {
  .nav1 {
    gap: 17px;
  }
}
