.link-image3 {
  width: 103px;
  height: 30px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.link-image-frame {
  width: 175px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 5px 0 0;
  box-sizing: border-box;
}
.link-button21,
.link-button22,
.link-button23 {
  text-decoration: none;
  position: relative;
  letter-spacing: 0.2px;
  line-height: 16px;
  font-weight: 500;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.link-button21 {
  width: 47px;
  min-width: 47px;
}
.link-button22,
.link-button23 {
  width: 54.8px;
}
.link-button23 {
  width: 23.9px;
}
.frame-nav,
.link-button-internet-parent {
  margin: 0;
  display: flex;
  align-items: flex-start;
}
.link-button-internet-parent {
  width: 268.5px;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  text-align: center;
  font-size: 12px;
  color: rgba(12, 12, 13, 0.74);
  font-family: Inter;
}
.frame-nav {
  width: 337.7px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 12px 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.more2 {
  text-decoration: none;
  position: relative;
  letter-spacing: 0.2px;
  line-height: 16px;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 31px;
}
.svg-icon92 {
  width: 12px;
  height: 12px;
  position: relative;
}
.button-wrapper5,
.button21,
.svg-wrapper32 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.svg-wrapper32 {
  flex-direction: column;
  padding: 2px 0 0;
}
.button-wrapper5,
.button21 {
  box-sizing: border-box;
}
.button21 {
  width: 187px;
  border-radius: 20px;
  flex-direction: row;
  padding: 8px 16px;
  gap: 3.5px;
}
.button-wrapper5 {
  width: 259px;
  flex-direction: column;
  padding: 4px 0 0;
}
.button22 {
  align-self: stretch;
  height: 24px;
  font-family: Inter;
  font-weight: 500;
  font-size: 12px;
  color: rgba(12, 12, 13, 0.74);
}
.button-wrapper6 {
  width: 83.1px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 8px 0 0;
  box-sizing: border-box;
}
.eng3 {
  text-decoration: none;
  flex: 1;
  position: relative;
  letter-spacing: 0.2px;
  line-height: 16px;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 26.2px;
}
.svg-icon93 {
  width: 12px;
  height: 12px;
  position: relative;
}
.svg-wrapper33 {
  flex-direction: column;
  padding: 2px 0 0;
}
.button-wrapper7,
.button23,
.svg-wrapper33 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.button23 {
  align-self: stretch;
  border-radius: 16px;
  flex-direction: row;
  padding: 4px 12px;
  gap: 5.6px;
}
.button-wrapper7 {
  width: 73.8px;
  flex-direction: column;
  padding: 8px 5px 0 0;
  box-sizing: border-box;
}
.button-svg21 {
  width: 20px;
  height: 20px;
  position: relative;
}
.button-svg-wrapper2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px 30px 0 0;
}
.sign-in3 {
  text-decoration: none;
  position: relative;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  font-family: Inter;
  color: #fff;
  text-align: center;
  display: inline-block;
  min-width: 46px;
  white-space: nowrap;
}
.button24,
.nav3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.button24 {
  cursor: pointer;
  border: 0;
  padding: 11px 15px 11px 16px;
  background-color: #ff7a00;
  border-radius: 20px;
  justify-content: flex-start;
  white-space: nowrap;
}
.button24:hover {
  background-color: #e66100;
}
.nav3 {
  align-self: stretch;
  background-color: #fff;
  justify-content: center;
  padding: 10px 20px 6px;
  box-sizing: border-box;
  top: 0;
  z-index: 99;
  position: sticky;
  max-width: 100%;
  text-align: center;
  font-size: 12px;
  color: rgba(12, 12, 13, 0.74);
  font-family: Inter;
}
@media screen and (max-width: 1050px) {
  .frame-nav {
    display: none;
  }
}
@media screen and (max-width: 750px) {
  .link-button-internet-parent {
    display: none;
  }
  .frame-nav {
    width: 69.19999999999982px;
  }
}
