.heading-212 {
  position: relative;
  letter-spacing: -0.1px;
  line-height: 32px;
  font-weight: 600;
}
.our-industry-leading-carriers {
  position: relative;
  letter-spacing: 0.05px;
  line-height: 18px;
  display: inline-block;
  max-width: 100%;
}
.image-icon58 {
  height: 49.7px;
  width: 139.5px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.item6 {
  border-radius: 16px;
  background-color: #f6f5f4;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 35.2px 11px 35.1px 12px;
}
.image-icon59 {
  height: 45.5px;
  width: 139.5px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.item7 {
  border-radius: 16px;
  background-color: #f6f5f4;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 37.3px 11px 37.2px 12px;
}
.image-icon60 {
  height: 50.3px;
  width: 139.5px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.item8 {
  border-radius: 16px;
  background-color: #f6f5f4;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 34.9px 11px 34.8px 12px;
}
.image-icon61 {
  height: 53.9px;
  width: 139.5px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.item9 {
  border-radius: 16px;
  background-color: #f6f5f4;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 33px 11px 33.1px 12px;
}
.image-icon62 {
  height: 50.3px;
  width: 139.5px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.item10 {
  border-radius: 16px;
  background-color: #f6f5f4;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 34.9px 11px 34.8px 12px;
}
.image-icon63 {
  height: 50.3px;
  width: 139.5px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.item11 {
  border-radius: 16px;
  background-color: #f6f5f4;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 34.9px 11px 34.8px 12px;
}
.image-icon64 {
  height: 50.6px;
  width: 139.5px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.item12 {
  border-radius: 16px;
  background-color: #f6f5f4;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 34.7px 11px 34.7px 12px;
}
.network,
.operators {
  margin: 0;
}
.network-operators {
  position: relative;
  letter-spacing: -0.1px;
  line-height: 18px;
}
.item13 {
  border-radius: 16px;
  background-color: #f6f5f4;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 41.5px 33px 42.5px;
}
.item-group,
.our-industry-leading-carriers-parent,
.section14 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.item-group {
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6px 4.7px;
  min-height: 246px;
  text-align: center;
}
.our-industry-leading-carriers-parent,
.section14 {
  flex-direction: column;
  gap: 24px;
  max-width: 100%;
  font-size: 14px;
}
.section14 {
  border-radius: 20px;
  background-color: #fff;
  padding: 24px;
  box-sizing: border-box;
  gap: 12px;
  text-align: left;
  font-size: 24px;
  color: #0c0c0d;
  font-family: Inter;
}
@media screen and (max-width: 450px) {
  .heading-212 {
    font-size: 19px;
    line-height: 26px;
  }
  .section14 {
    padding-top: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
  }
}
