.appstore-google1,
.download-yesim-from1 {
  display: block;
}
.download-yesim-from-container1 {
  margin: 0;
  position: relative;
  line-height: 28px;
  font-weight: 600;
}
.button-icon1 {
  height: 144px;
  width: 144px;
  position: relative;
  border-radius: 16px;
}
.image-icon78 {
  height: 24px;
  width: 96px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.link5 {
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.4);
  padding: 6px 12px;
  background-color: #000;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.image-icon79 {
  height: 24px;
  width: 96px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.link6 {
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.4);
  padding: 6px 12px;
  background-color: #000;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.link-parent1 {
  flex-direction: column;
  gap: 8px;
}
.button-parent1,
.frame-wrapper21,
.link-parent1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper21 {
  flex-direction: column;
  padding: 28px 0 0;
  box-sizing: border-box;
  min-width: 122px;
}
.button-parent1 {
  flex-direction: row;
  gap: 10px;
}
.download-yesim-from-appstore-group,
.section-inner6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.download-yesim-from-appstore-group {
  gap: 12px;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.section-inner6 {
  padding: 16px 0 0;
}
.image-icon80,
.image-icon81 {
  position: absolute;
  top: 41px;
  left: 0;
  width: 400px;
  height: 267px;
  overflow: hidden;
  object-fit: cover;
}
.image-icon81 {
  top: 0;
  left: 138px;
  width: 200px;
  height: 244px;
  object-fit: contain;
  z-index: 1;
}
.image-parent18 {
  height: 308px;
  width: 400px;
  position: relative;
  flex-shrink: 0;
  debug_commit: bf4bc93;
  max-width: calc(100% - 366px);
}
.section16 {
  align-self: stretch;
  height: 244px;
  border-radius: 20px;
  background-color: #373739;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 16px 16px;
  box-sizing: border-box;
  gap: 90px;
  max-width: 100%;
  text-align: left;
  font-size: 22px;
  color: #fff;
  font-family: Inter;
}
@media screen and (max-width: 975px) {
  .section16 {
    gap: 45px;
  }
}
@media screen and (max-width: 450px) {
  .download-yesim-from-container1 {
    font-size: 18px;
    line-height: 22px;
  }
  .button-icon1,
  .frame-wrapper21 {
    flex: 1;
  }
  .button-parent1 {
    flex-wrap: wrap;
  }
  .section16 {
    height: auto;
    gap: 22px;
  }
}
